body {
  margin: 0;
}

code {
  font-family: 'Roboto',
}
.product-item {
  color: blueviolet;
  font-weight: bold;
  display: block;
  margin-left: 20px;
}
.product-item__name {
  margin-right: 20px;
}

.product-item__description {
  font-weight: 200;
}